@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;
// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;
// 4. Import the rest of Bulma
*/

//Custom bulma variables

$footer-background-color: white;
$footer-padding: 3rem 1.5rem;

@import "node_modules/bulma/bulma";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

@font-face {
    font-family: 'ITC Kabel';
    src: url("ITCKabelStd.otf");
}

html {
    height: 100vh;
}

.aotw, .timeframe {
    font-family: 'ITC Kabel';
}

.timeframe {
    margin-bottom: 0rem !important;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.post,.i-a-f {
    margin: auto;
    display: block;
    height: 10rem;
    width: 10rem;
    background-image: url("");
    background-size: 10rem 10rem;
    box-shadow: 0 2.5rem 5rem -2.75rem rgba(0,0,0,0.85);
    -webkit-box-reflect: below 1rem linear-gradient(180deg, rgba(#fff, 0) 50%, rgba(#fff, 0.25) 100%);
}

.meta {
    font-family: 'Nanum Gothic', sans-serif;
    color: #040515;
    letter-spacing: 0.04rem;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.1);

    &-album {
        font-weight: 400;
    }
    
    &-artist {
        font-weight: 200;
    }

    &-week {
        font-weight: 150;
    }
}

.i-album {
    padding-top: 4.5rem;
    padding-bottom: 6rem;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.i-a-f {
    height: 5rem;
    width: 5rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.10);
    -webkit-box-reflect: below 1rem linear-gradient(180deg, rgba(#fff, 0) 65%, rgba(#fff, 0.25) 100%);
}


@media only screen and (max-width: 770px) {
    .album-list {
        margin-top: 1rem;
    }
    .meta {
        &-album, &-artist {
            text-align: center;
        }
    }
}
